<div ng-controller="AuthorizedServiceEditController as vm">
  <umb-editor-view ng-if="!vm.page.loading">
    <umb-editor-header name="vm.headerName"
                       name-locked="true"
                       hide-icon="false"
                       hide-description="false"
                       hide-alias="true"
                       show-back-button="false">
    </umb-editor-header>

    <umb-editor-container class="form-horizontal">
      <umb-box>
        <umb-box-header title="Status"></umb-box-header>
        <umb-box-content>
          <uui-icon-registry-essential>
            <uui-card-content-node name="{{ vm.displayName }}">
              <uui-icon slot="icon" name="{{vm.isAuthorized ? 'unlock' : 'lock' }}"></uui-icon>
              <uui-tag size="s" slot="tag" color="{{ vm.isAuthorized ? 'positive' : 'danger' }}">
                {{ vm.isAuthorized ? 'Authorized' : 'Not Authorized' }}
              </uui-tag>
              <p class="auth-srv"><b>{{ vm.displayName }}</b> has been configured as an authorized service.</p>
              <div ng-show="vm.isAuthorized">
                <umb-button ng-if="vm.sampleRequest"
                            action="vm.sendSampleRequest()"
                            type="button"
                            label="Verify Sample Request"></umb-button>
                <umb-button ng-if="vm.authenticationMethod.isOAuth1 || vm.authenticationMethod.isOAuth2AuthorizationCode || vm.authenticationMethod.isOAuth2ClientCredentials"
                            action="vm.revokeAccess()"
                            type="button"
                            button-style="danger"
                            label="Revoke Access"></umb-button>

                <div ng-show="vm.sampleRequestResponse">
                  <div class="umb-authorizedservices-sample-response-wrapper">
                    <div class="umb-authorizedservices-sample-response-detail">{{vm.sampleRequestResponse}}</div>
                  </div>
                </div>
              </div>
              <div ng-show="!vm.isAuthorized">
                <p>To authorize the service click to sign-in to the provider's portal, confirm the permission request and return to Umbraco.</p>
                <umb-button action="vm.authorizeAccess()"
                            type="button"
                            button-style="success"
                            label="Authorize Service" />
              </div>
            </uui-card-content-node>
          </uui-icon-registry-essential>
        </umb-box-content>
      </umb-box>
      <!-- Provide OAuth1 Token Section -->
      <umb-box ng-if="vm.canManuallyProvideToken && vm.authenticationMethod.isOAuth1">
        <umb-box-header title="Provide OAuth1 Access Token and Token Secret"></umb-box-header>
        <umb-box-content>
          <uui-icon-registry-essential>
            <uui-card-content-node name="OAuth1 Access Token and Token Secret">
              <uui-icon slot="icon" name="add"></uui-icon>
              <p class="auth-srv">Enter service access token and token secret</p>
              <p>This service is configured indicating that an access token and a token secret can be generated via the service's developer portal. Once you have obtained them you can copy and paste them here to authorize the service.</p>
              <div>
                <uui-form>
                  <uui-form-layout-item class="oauth-form-item">
                    <uui-label for="inAccessToken" slot="label">Access Token</uui-label>
                    <uui-input id="inAccessToken" name="access_token" type="text" label="Access Token"></uui-input>
                  </uui-form-layout-item>
                  <uui-form-layout-item class="oauth-form-item">
                    <uui-label for="inTokenSecret" slot="label">Token Secret</uui-label>
                    <uui-input id="inTokenSecret" name="token_secret" type="text" label="Token Secret"></uui-input>
                  </uui-form-layout-item>
                  <div>
                    <umb-button action="vm.saveOAuth1TokenDetails()"
                                type="button"
                                button-style="primary"
                                label="Save"></umb-button>
                  </div>
                </uui-form>
              </div>
            </uui-card-content-node>
          </uui-icon-registry-essential>
        </umb-box-content>
      </umb-box>
      <!-- Provide OAuth2 Token Section -->
      <umb-box ng-if="vm.canManuallyProvideToken && (vm.authenticationMethod.isOAuth2AuthorizationCode || vm.authenticationMethod.isOAuth2ClientCredentials)">
        <umb-box-header title="Provide Token"></umb-box-header>
        <umb-box-content>
          <uui-icon-registry-essential>
            <uui-card-content-node name="Access Token">
              <uui-icon slot="icon" name="add"></uui-icon>
              <p class="auth-srv">Enter service access token</p>
              <p>This service is configured indicating that a token can be generated via the service's developer portal. Once you have obtained one you can copy and paste it here to authorize the service.</p>
              <div>
                <uui-form>
                  <uui-form-layout-item class="oauth-form-item">
                    <uui-label for="inAccessToken" slot="label">Access Token</uui-label>
                    <uui-input id="inAccessToken" name="access_token" type="text" label="Access Token"></uui-input>
                  </uui-form-layout-item>
                  <div>
                    <umb-button action="vm.saveOAuth2AccessToken()"
                                type="button"
                                button-style="primary"
                                label="Save"></umb-button>
                  </div>
                </uui-form>
              </div>
            </uui-card-content-node>
          </uui-icon-registry-essential>
        </umb-box-content>
      </umb-box>
      <!-- Provide Key Section -->
      <umb-box ng-if="vm.canManuallyProvideApiKey && vm.authenticationMethod.isApiKey">
        <umb-box-header title="Provide API key"></umb-box-header>
        <umb-box-content>
          <uui-icon-registry-essential>
            <uui-card-content-node name="API Key">
              <uui-icon slot="icon" name="add"></uui-icon>
              <p class="auth-srv">Enter service API key</p>
              <p>
                This service is configured indicating that an API key can be created via the service's developer portal.
                Once you have obtained one you can copy and paste it here to authorize the service.
              </p>
              <div>
                <uui-form>
                  <uui-form-layout-item class="oauth-form-item">
                    <uui-label for="inApiKey" slot="label">Api Key</uui-label>
                    <uui-input id="inApiKey" name="access_token" type="text" label="Api Key"></uui-input>
                  </uui-form-layout-item>
                  <div>
                    <umb-button action="vm.saveApiKey()"
                                type="button"
                                button-style="primary"
                                label="Save"></umb-button>
                  </div>
                </uui-form>
              </div>
            </uui-card-content-node>
          </uui-icon-registry-essential>
        </umb-box-content>
      </umb-box>
      <umb-box>
        <umb-box-header title="Settings"></umb-box-header>
        <umb-box-content>
          <uui-icon-registry-essential>
            <uui-card-content-node name="{{ vm.displayName }}">
              <uui-icon slot="icon" name="settings"></uui-icon>
              <table class="umb-authorizedservices-settings-table">
                <thead>
                  <tr>
                    <th>Key</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key, value) in vm.settings">
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                  </tr>
                </tbody>
              </table>
            </uui-card-content-node>

          </uui-icon-registry-essential>
        </umb-box-content>
      </umb-box>

    </umb-editor-container>

  </umb-editor-view>
</div>
