<div ng-controller="AuthorizedServiceEditController as vm">
  <umb-editor-view ng-if="!vm.page.loading">
    <umb-editor-header name="vm.displayName"
                       name-locked="true"
                       hide-icon="false"
                       hide-description="false"
                       hide-alias="true"
                       on-back="vm.back()"
                       show-back-button="true">
    </umb-editor-header>

    <umb-editor-container class="form-horizontal">
      <umb-box>
        <umb-box-header title="Status"></umb-box-header>
        <umb-box-content>
          <uui-icon-registry-essential>
            <uui-card-content-node name="{{ vm.displayName }}">
              <uui-icon slot="icon" name="{{vm.isAuthorized ? 'unlock' : 'lock' }}"></uui-icon>
              <uui-tag size="s" slot="tag" color="{{ vm.isAuthorized ? 'positive' : 'danger' }}">
                {{ vm.isAuthorized ? 'Authorized' : 'Not Authorized' }}
              </uui-tag>
              <p class="auth-srv"><b>{{ vm.displayName }}</b> has been configured as an authorized service.</p>
              <div ng-show="vm.isAuthorized">
                <umb-button ng-if="vm.sampleRequest"
                            action="vm.sendSampleRequest()"
                            type="button"
                            label="Verify Sample Request"></umb-button>
                <umb-button action="vm.revokeAccess()"
                            type="button"
                            button-style="danger"
                            label="Revoke Access"></umb-button>

                <div ng-show="vm.sampleRequestResponse">
                  <div class="umb-authorizedservices-sample-response-wrapper">
                    <div class="umb-authorizedservices-sample-response-detail">{{vm.sampleRequestResponse}}</div>
                  </div>
                </div>
              </div>
              <div ng-show="!vm.isAuthorized">
                <umb-button action="vm.authorizeAccess()"
                            type="button"
                            button-style="success"
                            label="Authorize Service" />
              </div>
            </uui-card-content-node>
          </uui-icon-registry-essential>
        </umb-box-content>
      </umb-box>
      <umb-box>
        <umb-box-header title="Settings"></umb-box-header>
        <umb-box-content>
          <uui-icon-registry-essential>
            <uui-card-content-node name="{{ vm.displayName }}">
              <ul class="settings-list">
                <li ng-repeat="(key, value) in vm.settings">
                  <span>{{ key }}:</span> {{ value }}
                </li>
              </ul>
            </uui-card-content-node>
          </uui-icon-registry-essential>
        </umb-box-content>
      </umb-box>

    </umb-editor-container>

  </umb-editor-view>
</div>
